<nav class="navbar">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="quem-somos.html">Quem somos</a>
        </li>
        <li>
            <a href="produtoss.html">Produtos</a>
        </li>
        <li>
            <a href="Serviços.html">Serviços</a>
        </li>
        <li>
            <a href="/views/posts.ejs">Posts</a>
        </li>
        <li>
            <a href="Contato.html">Contato</a>
        </li>
    </ul>
</nav>