
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}

body {
    font-family: Arial, -apple-system, 'Helvetica Neue', sans-serif sans-serif;
    background: rgb(42, 34, 46);
}

.header {
    background-color: rgb(42, 34, 46);
    text-align: center;
    padding: 2px;
    font-size: 15px;
    color: bisque;
    letter-spacing: 20px;
}

.logo {
    width: 1340px;
    height: 200px;
    padding: 5px 5px 5px 5px;
    opacity: 0.5;
}


.container {
    display: flex;
    
}

.navbar {
    width:20%;
    padding: 15px;
    background: rgb(60, 50, 66);
    margin-right: 2px;
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
    box-shadow: 0 0 8px 4px white;
    padding-top: 24px;
    
    
}

.navbar li a {
    color: bisque;
    font-size: 14pt;

}

.content {
    width: 80%;
    height: 508px;
    text-align: justify;
    background: rgba(129, 109, 150, 0.719);
    padding: 30px;
    
    
}

.foto {
    width: 200px;
}

h1{
    margin-bottom: 10px;
}
li {
    
    background: rgba(37, 29, 39, 0.637);
    padding: 12px;
    text-align: center;
    margin:auto;
    border-radius: 50px;
    box-shadow: 0 0 10px 5px white;
}

.footer {
    text-align: center;
    font-style: italic;
    font-size: 12pt;
    background: rgb(29, 22, 31);
    color: bisque;
    bottom: 0;
    position: fixed ;
    width: 100%;
    
}